* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

/* body {
    background: linear-gradient(to bottom, skyblue, rgb(154, 220, 154));
} */

#canvasMain {
    margin-left: auto;
    margin-right: auto;
    /* border-color: gray;
    border-radius: 10px; */
    max-width: 100%;
    max-height: 100%;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#backgroundImg,
#playerImg,
#enemyImg1,
#enemyImg2,
#enemyImg3,
#enemyImg4,
#appleImg,
#hammerImg,
#effectImg {
    display: none;
}

.background {
    /* background-image: url('./images/backgroundColorDesert.png'); */
    background-image: url('./backgroundColorDesert.png');
    background-repeat: repeat-x;
    width: 1024px;
    /* background-position: -10px -100px; */
    float: left;
}

/* #attackBtn {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 1px orange;
}

#attackBtn:hover {
    background-color: lime;
}

#attackBtn:active {
    transform: translateY(-5);
} */

#startBtn {
    position: absolute;
    z-index: 1;

    left: 40%;
    top: 45%;

    background-color: aquamarine;
    color: blue;

    font-size: x-large;
    padding: 10px;
    border-radius: 10px;

    width: 200px;

    border: 0cm;
    box-shadow: 10px 10px 2px dimgray;
}

#startBtn:active {
    transform: translateY(-5px);
}

#startBtn:hover {
    background-color: aqua;
    cursor: pointer;
}
